@import "../../style/variables.css";

.footer {
  background: var(--color-ui-element-bg);
  /* font-family: var(--font-family-title); */
  color: var(--color-ui-element-text);
  margin-top: var(--default-spacing);
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  width: 100%;
}

.footerContent {
  max-width: var(--max-width-large);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerContent a {
  color: inherit;
  font-size: 0.6rem;
}

.footerContent > div {
  flex: 1;
}

.links {
  padding: 0 24px;
  display: flex;
  row-gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-rows: repeat(4, 24px);
}

.links > * {
  margin-right: 20px;
}

.livro {
  display: flex;
  max-height: 32px;
  align-items: center;
  justify-content: center;
  width: 90px;
}

.livro img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0;
  position: relative;
  top: 9px;
}

.rnet {
  font-size: 0.6rem;
}
