@import "../../shared/style/variables.css";
@import "../../shared/style/custom-medias.css";

.details {
    max-width: var(--max-width-medium);
    margin: 0 auto var(--large-spacing) auto;
}

.detailsModalLogo {
    max-width: 320px;
    width: 100%;
    display: block;
    margin: var(--default-spacing) auto;
}

.btn {
    display: block;
    margin: 0 auto;
}

.hidden {
    opacity: 0;
}

.overlay {
    background: rgba(0,0,0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.modal {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.95);
    overflow: auto;
    border-radius: 0;
    outline: none;
    padding: 20px;

    // For Google Chrome
    &::-webkit-scrollbar {
        width:  2px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-text-subtle);
    }

    &::-webkit-scrollbar-track {
        background: white;
    }

    /* // For Internet Explorer */
    /* body { */
    /* scrollbar-face-color: $foreground-color; */
    /* scrollbar-track-color: $background-color; */
    /* } */
}

:global(.ReactModal__Overlay) {
    transition: opacity 500ms ease-in-out;
    opacity: 0;

    &--after-open {
        opacity: 1;
    }

    &--before-close {
        opacity: 0;
    }
}

:global(.ReactModal__Content) {
    max-width: 1024px;
    margin: 0 auto;
        transition: all 500ms ease-in-out;
        transform: translateY(30px);
        opacity: 0;

        &--after-open {
            opacity: 1;
            transform: translateY(0);
        }

        &--before-close {
            opacity: 0;
            transform: translateY(30px);
        }

    }

.detail {
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
    margin-bottom: 15px;
}

@media (--modal-break) {
    .detail {
        font-size: 13px;
    }

    .modal {
        left: 25px;
        right: 25px;
        padding: 10px;
    }
}
