@import "../../style/variables.css";
@import "../../style/custom-medias.css";

.headerWrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.header {
    font-family: var(--font-family-title);
    display: flex;
    flex: 1;
    align-items: center;
    background: var(--color-1);
    max-width: none;
    justify-content: flex-end;
    border-bottom: 1px solid var(--color-4);
}

.navItem {
    color: var(--color-2);
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
    transition: color 0.25s ease-in-out;
}

.navItem:hover {
    color: var(--color-text-subtle);
}

.mobileNavItem {
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    display: block;
    color: var(--color-ui-element-text);
    transition: color 0.25s ease-in-out;
}

.mobileNavItem:active,
.mobileNavItem:focus,
.mobileNavItem:hover {
    text-decoration: underline;
    color: var(--color-ui-element-text);
}

.menuIcon {
    color: var(--color-text);
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    left: 12px;
    top: 8px;
}

.menuIconActive {
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    left: 12px;
    top: 8px;
}


.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--color-ui-element-bg);
    color: var(--color-ui-element-text);
    z-index: var(--z-index-mobile-menu);
    padding: 50px var(--default-spacing) var(--default-spacing) var(--default-spacing);
    height: 100vh;
    min-width: 260px;
    transition: all var(--easing-time);
    transform: translateZ(0) translateX(-100%);
}

.mobileMenuActive {
    transform: translateZ(0) translateX(0);
}

.overlay {
    background: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: var(--z-index-mobile-overlay);
}

.languageSwitcher {
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 20px;
    width: 200px;
    top: 10px;
    list-style-type: none;
    font-family: var(--font-family-copy);
    font-size: 14px;
}

.language {
    display: inline-block;
    color: var(--color-text);
}

.language:last-child {
    padding-left: 10px;
}

.languageAnchor {
    color: var(--color-text-subtle);
    text-decoration: none;
}

.languageAnchor:hover, 
.languageAnchor:active, 
.languageAnchor:focus { 
    color: var(--color-text);
    text-decoration: underline;
}

.selectedLanguageAnchor {
    color: var(--color-text);
    text-decoration: none;
}

.selectedLanguageAnchor:hover, 
.selectedLanguageAnchor:active, 
.selectedLanguageAnchor:focus {
    cursor: default;
    text-decoration: none;
}

@media (--bt-mobile-menu-break) {
    .mobileNavItem
    .menuIconActive, 
    .menuIcon, 
    .mobileMenuActive, 
    .mobileMenu, 
    .overlay {
        display: none;
    }

}

@media (--let-mobile-menu-break) {
    .navItem {
        visibility: hidden;
    }

    .languageSwitcher {
        right: 20px;
        left: initial;
        text-align: right;
    }
}
