@import './variables.css';

.container {
    display: flex;
    flex-basis: auto;
        flex-grow: 1;
            flex-shrink: 0;
}

:global(html) {
    height: 100%;
    width: 100%;
    background: var(--color-1);
    height: 100%;
    overflow: auto;
}


:global(body) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(assets/images/bg.jpg), linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));
    width: 100%;
    overflow: auto;
    background-size: auto, cover, auto;
    background-position: 0% 0%, center center, 0% 0%;
    background-position-x: 0%, center, 0%;
    background-position-y: 0%, center, 0%;
    background-repeat: repeat, no-repeat, repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

:global(.menu-open) {
    overflow: hidden;
}

:global(#react-mount) {
    display: flex;
    flex: 1 0;
    height: 100%;
}

:global(#react-mount > div) {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}
