/* Colors */
:root {
    --color-1: #5a646e;
    --color-2: #fff;
    --color-3: #b3b0b0;
    --color-4: #848484;
    --color-5: #444;

    --color-ui-element-bg: var(--color-2);
    --color-ui-element-bg-hover: #d2d2d2;
    --color-ui-element-text: var(--color-5);
    --color-filter: var(--color-2);
    --color-text: var(--color-2);
    --color-text-subtle: var(--color-3);
}

/* Sizes */
:root {
    --padding-large: 100px;
    --padding-small: 20px;
    --max-width-large: 760px;
    --max-width-medium: 480px;
    --large-spacing: 40px;
    --default-spacing: 20px;
    --small-spacing: 10px;
    --letter-spacing-copy: -0.3px;
}

/* Typography */
:root {
    --font-weight-copy: 300;
    --font-family-copy:  Montserrat, sans-serif;
    --font-family-title:  Parisienne, Montserrat;
    --font-weight-bold: 700;
    --font-weight-title: 400;
    --font-size-large: 46px;
}

/* Levels */
:root {
    --z-index-bg: -1;
    --z-index-mobile-menu: 20;
    --z-index-mobile-overlay: 10;
}

/* Timings */
:root {
    --easing-time: 0.5s;
}