@import "../../style/variables.css";

.button {
    background: var(--color-ui-element-bg);
    color: var(--color-ui-element-text);
    border: none;
    display: block;
    min-width: 12rem;
    min-height: 2.25rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: Montserrat;
    letter-spacing: 0.275rem;
    font-size: 0.75em;
    font-weight: 400;
    padding: 0px var(--default-spacing);
    border-radius: 2rem;
    transition: background 0.25s ease-in-out;
}

.button:focus,
.button:active,
.button:hover {
    background: var(--color-ui-element-bg-hover);
    cursor: pointer;
}
