@import "../../shared/style/variables.css";
@import "../../shared/style/custom-medias.css";

.imageGallery {
  margin: var(--large-spacing) auto;
  max-width: var(--max-width-large);
}

.title {
  margin-bottom: var(--small-spacing);
}

.btn {
  margin: var(--default-spacing) auto;
}

.btnAnchor,
.btnAnchor:active,
.btnAnchor:focus,
.btnAnchor:hover {
  font-size: 11px;
  color: var(--color-ui-element-text);
  text-decoration: none;
}

.galleryContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imageAnchor {
  padding: 5px;
  display: inline-block;
  width: 33%;
}

.imageAnchor:hover {
  /* opacity: 0.6; */
}

.thumbnail {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding: 5px;
  background: var(--color-ui-element-bg);
}

.thumbnail:hover {
  background: var(--color-ui-element-bg-hover);
}

.filters {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
}

.filterSelected {
  border-bottom: 2px solid var(--color-filter);
  padding: 5px;
}

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}

/* --- Responsive rules --- */

@media (--layout-lte-small) {
  .imageAnchor {
    width: 50%;
  }
}

/* @media (--layout-lte-small) { */
/* .imageAnchor { */
/* width: 100%; */
/* } */
/* } */
