@import '../shared/style/variables.css';
@import '../shared/style/custom-medias.css';

.galleryWrapper {
    margin-top: 49px;
    padding: var(--padding-large);
    padding-bottom: var(--padding-small);
    padding-top: 10vh;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(100% - 50px);
    align-items: center;
}

.contentWrapper {
    transition: all var(--easing-time) ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(25px);
}

.gallery {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.separator {
    border-top: 1px solid white;
    margin: var(--default-spacing) auto;
    min-width: 50px;
    width: 20%;
}

.copy {
    letter-spacing: var(--letter-spacing-copy);
    font-size: 15px;
    line-height: 24px;
    max-width: var(--max-width-medium);
    margin: 0 auto;
}

.homeTitle {
    font-size: var(--font-size-large);
    display: block;
    margin: 0 auto;
    max-width: var(--max-width-medium);
}

.homeSubtitle {
    display: block;
    margin: 0 auto;
    max-width: var(--max-width-medium);
}

.knowMore {
    display: inline-block;
    margin: var(--default-spacing) auto;
}

/* --- Responsive Stuff --- */

@media (--layout-lte-small) {
    .galleryWrapper {
        padding: var(--padding-small);
    }
}
