@import "../shared/style/variables.css";
@import "../shared/style/custom-medias.css";

.homeWrapper {
  margin-top: 49px;
  padding: var(--padding-large);
  padding-bottom: var(--padding-small);
  padding-top: 30vh;
  color: #fff;
  font-family: Montserrat;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(100% - 50px);
  align-items: center;
}

.btn {
  margin: var(--default-spacing) auto;
}

.seal {
  width: 115px;
  height: unset;
  position: absolute;
  top: -120px;
  left: 0;
  transition: opacity 500ms cubic-bezier(0.33, 1, 0.68, 1) 1500ms;
}

.btnAnchor,
.btnAnchor:active,
.btnAnchor:focus,
.btnAnchor:hover {
  color: var(--color-ui-element-text);
  font-size: 11px;
  text-decoration: none;
}

.contentWrapper {
  transition: all 1s cubic-bezier(0.33, 1, 0.68, 1) 250ms;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.separator {
  border-top: 1px solid white;
  margin: var(--default-spacing) auto;
  min-width: 50px;
  width: 20%;
}

.copy {
  letter-spacing: var(--letter-spacing-copy);
  font-size: 15px;
  line-height: 24px;
  max-width: var(--max-width-medium);
  margin: 0 auto;
}

.homeTitle {
  font-size: var(--font-size-large);
  display: block;
  margin: 0 auto;
  max-width: var(--max-width-medium);
}

.homeSubtitle {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width-medium);
}

.knowMore {
  display: inline-block;
  margin: var(--default-spacing) auto;
}

/* --- Responsive Stuff --- */

@media (--layout-lte-small) {
  .homeWrapper {
    padding: 20vh var(--padding-small) var(--padding-small) var(--padding-small);
  }
  .seal {
    top: -70px;
    width: 65px;
  }
}
