@import "../../shared/style/variables.css";
@import "../../shared/style/custom-medias.css";

.location {
    width: 100%;
    margin-bottom: var(--large-spacing);
}

:root {
    --pin-width: 40px;
}

.map {
    width: 100%;
    height: 400px;
    background: white;
    padding: 5px;
}

.pin {
    margin: 0;
    width: var(--pin-width);
    position: relative;
}

.pin:hover {
    opacity: 0.8;
}

.anchor {
    display: block;
    text-decoration: none;
    position: relative;
    width: 100px;
    color: var(--color-1);
    top: -25px;
    left: calc(-var(--pin-width)-15px);
}

.locationDetails {
    margin-top: var(--default-spacing);
    display: flex;
}

.locationDetail {
    display: flex;
    flex: 1;
    /* flex-direction: column; */
}


.locationDetailsTitle {
    margin: 0 var(--small-spacing);
    font-family: var(--font-family-copy);
    color: var(--color-text-subtle);
}

.locationDetailInfo {
    margin: 0;
    text-align: left;
    padding: 0 5px;
}

.gpsLocation {
    text-align: left;
}

/* --- Responsive Stuff --- */

@media (--location-break) {
    .locationDetails {
        flex-direction: column;
    }
    .locationDetailInfo {
        display: inline-block;
    }
}

@media (--layout-lte-small) {
    .map {
        height: 250px;
    }
}
