@import "../../shared/style/variables.css";
@import "../../shared/style/custom-medias.css";

.contacts {
  max-width: var(--max-width-medium);
  margin: 0 auto var(--default-spacing) auto;
}

.contactList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contactListItem {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 50%;
  font-size: 14px;
}

.contactListItem:last-child {
  font-size: 12px;
}

.contactType {
  padding-right: 10px;
  position: relative;
  top: -3px;
}

.contactIcon {
  font-size: 20px;
}

.contactIcon:last-child {
  font-size: 15px;
}

.anchor {
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.anchor:hover {
  text-decoration: underline;
  color: var(--color-text-subtle);
}

.social {
  margin-top: 10px;
}

.socialList {
  max-width: 320px;
  margin: 10px auto;
}

.socialItem {
  display: inline-block;
  font-size: 28px;
}

.socialIcon {
  font-size: 28px;
}

@media (--layout-lte-xsmall) {
  .contactListItem {
    width: 100%;
  }
}
